$Blue: hsl(246, 80%, 60%);

// !Create a map of primary colors
$primary-color: (
  "work": hsl(15, 100%, 70%),
  "play": hsl(195, 74%, 62%),
  "study": hsl(348, 100%, 68%),
  "exercise": hsl(145, 58%, 55%),
  "social": hsl(264, 64%, 52%),
  "self-care": hsl(43, 84%, 65%),
);

$bg-color: hsl(226, 43%, 10%);
$card-color: hsl(235, 46%, 20%);
$text-color: white;
$profile-color: #5746ea;
// $profile-color: hsl(264, 64%, 52%);
$Pale-Blue: hsl(236, 100%, 87%);
$hover-color: $Pale-Blue;
$avatar-width: 70px;
$main-transition: 300ms ease-in-out;
$border-radius: 15px;

$font-family: "Rubik", sans-serif;

$screen1: 1172px;
